<div class="searchBar">
    <div class="search-container">
        <form action="/search" method="POST" class="search_form" role="search">
            <input type="search"
            aria-lable="Search"
            id="search_input"
            name="search_input"
            placeholder="Search the site..."
            >
        </form>
    </div>
</div>